body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
}

#subscriptionBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.subscriptionBox {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    width: 300px;
}

.subscriptionBox h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.subscriptionBox p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 10px;
}

.subscriptionBox .price {
    color: #d00;
    font-weight: bold;
}
